:root {
  --primary-color: #4d29296d;
  --branding-color: #4d2929;
  --heading-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-style: normal;
  font-size: 96px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: "Playfair", serif;
  font-weight: normal;
  font-size: 24px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
