:root {
  --primary-color: #4d29296d;
  --branding-color: #4d2929;
  --heading-font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--primary-color);
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-style: normal;
  font-size: 96px;
}
.background-box {
  background-color: white;
  text-align: center;
  margin: 3%;
  border-radius: 10px;
}
.hero,
.about-hero {
  padding: 160px 20px;
}

.hero p {
  font-family: "Playfair", serif;
  font-weight: normal;
  font-size: 24px;
}

.about-hero {
  font-family: var(--heading-font-family);
}

.about-hero h1,
.work-hero h1 {
  font-size: 48px;
  line-height: 80px;
}

.about-hero h2 {
  font-size: 20px;
}
.about-hero p {
  font-family: "Playfair", serif;
  font-weight: normal;
  font-size: 18px;
}

.section-content {
  padding: 10px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding:hover {
  background-color: var(--primary-color);
  color: var(--branding-color);
}

.container {
  max-width: 97%;
  align-items: center;
  padding-bottom: 10px;
}

.project-square {
  background-color: white;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px;
}

.project-title {
  font-size: 32px;
  line-height: 3rem;
}

.project-description {
  font-size: 22px;
  line-height: 3rem;
  padding-top: 50px;
}

.img-fluid {
  border-radius: 5px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 48px;
  }
  .about-hero {
    padding: 0px;
    text-align: center;
  }
  .about-picture {
    margin-bottom: 5px;
  }
}
